<h1><%= @language.name %></h1>
<h4><%= @language.code %></h4>
<br>
<% if auth_logged_in? %>
  <h6 class="outlined-text">Other Learners</h6>
  <ul>
  <% @language.users.each do |learner| %>
    <% unless learner == auth_current_user %>
      <% if has_language?(@language) %>
        <li><a href="/pair/<%= learner.id %>?lang_id=<%= @language.id %>"><%= learner.fullname %></a></li>
      <% else %>
        <li><%= learner.fullname %></li>
      <% end %>
    <% end %>
  <% end %>
  </ul>

  <div class="row add_remove_lang">
    <% if has_language?(@language) %>
      <a class="btn" id="remove_language_button" href="/languages/<%= @language.id %>/delete">Remove From My Languages</a>
    <% else  %>
      <a class="btn" id="add_language_button" href="/languages/<%= @language.id %>/add">Add to My Languages</a>
    <% end %>
  </div>
<% end %>
