<h1><%= @language.name %></h1>
<h4><%= @language.code %></h4>
<br>
<h6>Current Learners</h6>
<ul>
<% @language.users.each do |learner| %>
  <% if has_language?(@language) %>
    <li><a href="/pair/<%= learner.id %>?lang_id=<%= @language.id %>"><%= learner.fullname %></a></li>
  <% else %>
    <li><%= learner.fullname %></li>
  <% end %>
<% end %>
</ul>

<% if auth_logged_in? %>
  <div class="row">
    <% if has_language?(@language) %>
      <a class="btn" href="/languages/<%= @language.id %>/delete">Remove From My Languages</a>
    <% else  %>
      <a class="btn" href="/languages/<%= @language.id %>/add">Add to My Languages</a>
    <% end %>
  </div>
<% end %>
