<h1><%= @language.name %></h1>
<h4><%= @language.code %></h4>
<br>
<h6>Current Learners</h6>
<ul>
<% @language.users.each do |learner| %>
  <li><%= learner.fullname %></li>
<% end %>
</ul>

<% if auth_logged_in? %>
  <div class="row">
    <% unless has_language?(@language) %>
      <a class="btn" href="/languages/<%= @language.id %>/add">Add to My Languages<a/>
    <% end %>
    <a class="btn" href="/languages/delete/<%= @language.id %>">Delete Language<a/>
  </div>
<% end %>


<!-- href="/languages/<%= @language.id %>" Removed from add button-->
