<h1>Edit Profile</h1>

<form class="col s12" action="/edit" method="post">
  <!-- <div class="row"> -->
    <% if @user.errors[:first_name].any? %>
      <div style="color: red;"><%= @user.errors[:first_name].first %></div>
    <% end %>
    <div class="input-field col s6">
      <input plaveholder="First Name" name="first_name" type="text" class="validate" value="<%= @user.first_name %>">
      <label for="name"></label>
    </div>
  <!-- </div> -->

  <!-- <div class="row"> -->
    <% if @user.errors[:last_name].any? %>
      <div style="color: red;"><%= @user.errors[:last_name].first %></div>
    <% end %>
    <div class="input-field col s6">
      <input placeholder="Last Name" name="last_name" type="text" class="validate" value="<%= @user.last_name %>">
      <label for="last_name"></label>
    </div>
  <!-- </div> -->
    <% if @user.errors[:email].any? %>
      <div style="color: red;"><%= @user.errors[:email].first %></div>
    <% end %>
    <div class="input-field col s6">
      <input placeholder="E-Mail" name="email" type="text" class="validate" value="<%= @user.email %>">
      <label for="email"></label>
    </div>

  <!-- <div class="row">
    <% if @user.errors[:password].any? %>
      <div style="color: red;"><%= @user.errors[:password].first %></div>
    <% end %>
    <div class="input-field col s12">
      <input name="password" type="text" class="validate" value="">
      <label for="password">New Password</label>
    </div>
  </div>

  <div class="row">
    <% if @user.errors[:password_confirmation].any? %>
      <div style="color: red;"><%= @user.errors[:password_confirmation].first %></div>
    <% end %>
    <div class="input-field col s12">
      <input name="password_confirmation" type="password" class="validate" value="">
      <label for="password_confirmation">Confirmation</label>
    </div>
  </div> -->

  <div class="row">
    <input class="btn" type="submit" name="action" value="Save"/>
    <a class="btn" href="/profile">Cancel<a/>
  </div>
</form>
