<h2 class="outlined-text">Initiate Pairing Session?</h2>

<h3 id="pair-name">Pair: &nbsp;<%= gravatar_tag @pair.email, :size => 40 %>&nbsp;<%= @pair.fullname %></h3>

<h3>Language: <%= @language.name %></h3>

<a  href="/pair/notify?pair=<%= @pair.id %>&lang_id=<%= @language.id %>" class="waves-effect waves-light btn"><i class="material-icons left">message</i>Message Your Pair</a>
<p>
<div id="placeholder-div"></div>

<script src="https://apis.google.com/js/platform.js"></script>
<script> gapi.hangout.render('placeholder-div',
                      { 'render': 'createhangout',
                        'invites': "[{id: '<%= @pair.email %>', invite_type: 'EMAIL'}]",
                        'widget_size': 136
                      });
</script>
